<div class="wrapper" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-gap: 20px;">
  <div class="card" *ngFor="let item of data">
    <img [src]="item.img" />
    <div class="info">
      <h1>{{item.title}}</h1>
      <!-- <button routerLink="/units/recipe">READ MORE</button> -->
      <!-- <button [routerLink]="['/units/recipe', i.id]">READ MORE</button> -->
      <button (click)="gotoHere(item.title)">view more</button>        

      </div>
  </div>
</div>
